.root {
  position: relative;
  width: 1280px;
  height: 720px;
  align-items: flex-start;
  background-color: #219ebc;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  position: relative;
  justify-content: center;
  width: 1280px;
  height: 720px;
  align-items: center;
  background-color: #219ebc;
  overflow: hidden;

  .studentClearance {
    width: 493px;
    height: min-content;
    text-shadow: 6px 7px 10px #000;
    flex-direction: column;
  }

  .rememberMeCheckBox {
    display: flex; /* Change to display flex */
    position: absolute;
    left: 135px;
    top: 327px;
    width: 273px;
    height: 46px;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 6px;
    padding: 10px 0;

    .checkbox {
      width: 23px;
      height: 21px;
      overflow: visible;
      filter: drop-shadow(0px 3px 5px #2e2e4214);

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.textBlock {
  color: #fff;
  font-size: 96px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 96px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.frame1 {
  position: relative;
  width: 504px;
  height: 629px;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #023047;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.buttonMSOA {
  position: absolute;
  left: 118px;
  top: 505px;
  width: 287px;
  height: 54px;
  padding: 12px 28px;
  border: none;
  border-radius: 20px;
  background-color: #c43e1c;
  box-shadow: 0px 4px 2.1px 0px #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.image3 {
  width: 30.0143px;
  height: 35px;
  background-image: /* webpackIgnore: true */ url('/assets/image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.office365Login {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  text-shadow: 3px 3px 4.599999904632568px #000;
}

.or {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  position: absolute;
  left: 241px;
  top: 455px;
  width: 39px;
  height: min-content;
  text-shadow: 0px 4px 2.0999999046325684px #00000080;
  flex-direction: column;
}

.rectangle3 {
  position: absolute;
  left: 119.9905px;
  top: 387px;
  width: 287.0095px;
  height: 54.5867px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #46b1e1;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
}

.loginWrapper {
  display: flex;
  align-items: center; /* Center horizontally and vertically */
}

.lOGIN {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  text-align: center;
  text-shadow: 3px 3px 4.599999904632568px #000;
}

.rememberMe {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  white-space: nowrap;
  flex-direction: column;
}
.input {
  position: absolute;
  left: 118px;
  top: 133px;
  width: 290px;
}

.passwordInput,
.emailInput {
  position: relative;
  width: 100%;
}

.passwordInput,
.emailInput,
.password,
.email,
.inputField {
  display: flex;
  flex-direction: column;
}

.password,
.email {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: Arimo, sans-serif;
  text-shadow: 5px 5px 5px #00000080;
}

.inputField {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #156082;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 5px 5px 5px 0px #00000080;
}

.passwordInput {
  top: 0;
  margin-bottom: 8px;
}

.emailInput {
  margin-top: 8px;
}

.placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginWithOffice365 {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 344px;
  height: 99px;
  text-align: center;
  align-items: center;
  text-shadow: 5px 5px 5px #00000080;
  flex-direction: column;
  transform: translateX(-50%);
}

.textBlock5 {
  color: #fff;
  font-size: 39px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.textBlock6 {
  margin-top: 0;
}

.labelWrapper {
  font-size: 39px;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  flex-shrink: 1;
}

.label {
  color: #fff;
  font-size: 39px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.label2 {
  color: #c43e1c;
  font-size: 39px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.stiLogo {
  position: absolute;
  left: 59px;
  top: 50px;
  width: 128px;
  height: 101px;
  background-image: /* webpackIgnore: true */ url('/assets/stiLogo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 10px 0px #00000080;
}

.credits {
  position: absolute;
  left: 81px;
  top: 564px;
  width: 84px;
  height: 84px;
  background-image: /* webpackIgnore: true */ url('/assets/credits.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 7px 0px #00000080;
}
