.root {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  background-color: #219ebc;
  user-select: none;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #219ebc;
  padding: 50px;
  overflow: hidden; /* Ensure overflow is hidden */
}

.studentClearance {
  width: 50%;
  text-shadow: 6px 7px 10px #000;
  flex-direction: column;
}

.textBlock {
  color: #fff;
  font-size: 96px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 96px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.loginFrame {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 40%;
  height: 95%;
  border-radius: 50px;
  background-color: #023047;
  overflow: hidden;
  filter: drop-shadow(5px 5px 5px #00000080);
}

.rememberMeCheckBox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkboxInput {
  appearance: none;
  width: 23px;
  height: 21px;
  border: 2px solid #156082;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.checkboxInput:checked {
  background-color: #156082;
}

.rememberMe {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  white-space: nowrap;
  text-shadow: 5px 5px 5px #00000080;
}

.buttonMSOA {
  width: 300px;
  height: 55px;
  margin-top: 14px;
  padding: 12px 12px;
  border-radius: 50px;
  background-color: #c43e1c;
  filter: drop-shadow(5px 5px 5px #00000080);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Add cursor styling */
}

/* Hover state */
.buttonMSOA:hover {
  background-color: #7d2410;
}

/* Active state */
.buttonMSOA:active {
  background-color: #691f0d;
  filter: none;
}

.buttonMSOA .buttonContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonMSOA .image3 {
  width: 35px;
  height: 35px;
  background-image: /* webpackIgnore: true */ url('/assets/image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(5px 5px 5px #00000080);
}

.buttonMSOA .office365Login {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  text-shadow: 5px 5px 5px #00000080;
}

.or {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  text-shadow: 5px 5px 5px #00000080;
  flex-direction: column;
}

.buttonLogin {
  width: 300px;
  height: 55px;
  border-radius: 50px;
  background-color: #3f9dc9;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  box-shadow: 5px 5px 5px #00000080;
  cursor: pointer; /* Add cursor styling */
  margin: 20px;
}

/* Hover state */
.buttonLogin:hover {
  background-color: #0e6c9e;
}

/* Active state */
.buttonLogin:active {
  background-color: #0a5678;
  box-shadow: none;
}

.buttonLogin .loginWrapper {
  display: flex;
  align-items: center; /* Center horizontally and vertically */
}

.buttonLogin .lOGIN {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
  text-align: center;
  text-shadow: 5px 5px 5px #00000080;
}

.input {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 290px;
}

.passwordInput,
.emailInput {
  width: 100%;
}

.passwordInput,
.emailInput,
.password,
.email,
.inputField {
  display: flex;
  flex-direction: column;
}

.password,
.email {
  margin-top: 16px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arimo, sans-serif;
  text-shadow: 5px 5px 5px #00000080;
}

.inputField {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #156082;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 5px 5px 5px 0px #00000080;
}

.passwordInput {
  margin-bottom: 8px;
}

.emailInput {
  margin-top: 8px;
}

.placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.loginWithOffice365 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center;
  width: 70%;
  text-shadow: 5px 5px 5px #00000080;
}

.textBlock5 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.labelWrapper {
  font-size: 2.5rem;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.label,
.label2 {
  font-size: 2rem;
  font-weight: bold;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;
}

.label {
  color: #fff;
}

.label2 {
  color: #c43e1c;
}

.stiLogo {
  position: absolute;
  left: 59px;
  top: 50px;
  width: 128px;
  height: 101px;
  background-image: /* webpackIgnore: true */ url('/assets/stiLogo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(6px 6px 6px #080808);
}

.credits {
  position: absolute;
  left: 59px;
  top: 480px;
  width: 84px;
  height: 84px;
  background-image: /* webpackIgnore: true */ url('/assets/credits.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(6px 6px 6px #080808);
}
