/* Define the base styles */
.root {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  background-color: #001c22;
  user-select: none;
  overflow: hidden;
  font-family:
    Arimo,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #001c22;
  padding: 50px;
  overflow: hidden; /* Ensure overflow is hidden */
}

.studentClearance {
  width: 50%;
  text-shadow: 2px 2px 3px #736f00;
  flex-direction: column;
}

.textBlock,
.textBlock2 {
  color: #efefef;
  font-size: 6rem;
  font-weight: bold;
}

.textBlock2 {
  margin-top: -15px;
}

.loginFrame {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 440px;
  height: 520px;
  border-radius: 50px;
  background-color: #007177;
  filter: drop-shadow(2px 3px 5px #272700);
  overflow: hidden;
}

.buttonLogin {
  width: 70%;
  height: 55px;
  border-radius: 50px;
  background-color: #046267;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  box-shadow: 2px 3px 6px #1c1b00;
  cursor: pointer; /* Add cursor styling */
  margin: 20px 40px 20px 40px;
}

/* Hover state */
.buttonLogin:hover {
  background-color: #0b658f;
}

/* Active state */
.buttonLogin:active {
  background-color: #083d56;
  box-shadow: none;
}

.buttonLogin {
  display: flex;
  align-items: center; /* Center horizontally and vertically */
}

.buttonLogin .lOGIN {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  justify-self: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.passwordInput,
.emailInput {
  width: 18rem;
}

.passwordInput,
.emailInput,
.password,
.email,
.inputField {
  display: flex;
  flex-direction: column;
}

.password,
.email {
  margin-top: 16px;
  color: #efefef;
  font-size: 1.5rem;
  font-weight: bold;
}

.inputField {
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  color: #efefef;
  border: 1px solid #fff200;
  outline: none;
}

.passwordInput,
.emailInput {
  margin-bottom: 8px;
  text-align: left;
}

.loginWithOffice365 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center;
  width: 70%;
}

.textBlock5 {
  color: #efefef;
  font-size: 3rem;
  font-weight: bold;
}

.textBlock6 {
  color: #efefef;
  font-size: 2rem;
  font-weight: normal;
}

.office365 {
  color: #c43e1c;
}

.stiLogo {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 128px;
  height: 101px;
  background-image: /* webpackIgnore: true */ url('/assets/stiLogo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.credits {
  position: absolute;
  left: 20px;
  top: calc(100% - 100px);
  width: 84px;
  height: 84px;
  background-image: /* webpackIgnore: true */ url('/assets/credits.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(1px 1px 3px #050608);
}

/* Media Query for smaller screens */
@media screen and (max-width: 900px) {
  .loginFrame {
    width: 70%;
  }
  .mainContainer {
    display: flex;
    flex-direction: column; /* Change to column layout */
    padding: 10px;
    justify-content: space-evenly;
  }
  .loginFrame {
    width: 95%;
    height: 60%;
  }

  .studentClearance {
    margin-top: 3rem;

    display: flex;
    flex-direction: column; /* Arrange text blocks in a row */
    align-items: center; /* Align items vertically */
  }

  .buttonLogin {
    width: 50%;
    padding: 0px 15px 0px 15px;
    align-self: center;
  }

  .inputField {
    width: 90%;
    font: 14px sans-serif;
  }

  .password,
  .email {
    font: 16px sans-serif;
    margin-top: 16px;
    margin-left: 16px;
  }

  .textBlock,
  .textBlock2 {
    font-size: 3rem;
  }
  .textBlock5 {
    font-size: 2rem;
  }
  .textBlock6 {
    font-size: 1.3rem;
  }
  .stiLogo {
    width: 64px; /* Adjust width */
    height: 51px; /* Adjust height */
  }
  .credits {
    top: 20px;
    left: calc(100% - 80px); /* Adjust left position */
    width: 50px;
    height: 50px;
  }
}
